<!--
  Generated template for the UploadAPhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>UploadAPhoto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
     <form [formGroup]="uploadPhotoForm">
        <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input [formControl]="uploadPhotoForm.controls['title']"
                type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Description</ion-label>
            <ion-input [formControl]="uploadPhotoForm.controls['description']"
                type="text"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col text-center>
            <button ion-button block color="secondary" (click)="uploadPhoto()">
              Upload
            </button>
          </ion-col>
        </ion-row>
     </form>
  </ion-content>
